# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#CMAKE Ignores
**/CMakeLists.txt.user
**/CMakeCache.txt
**/CMakeFiles
CMakeScripts
Testing
Makefile
**/cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
cmake-build-debug

#msvc ignores
**.vcxproj
**.vcxproj.filters
Debug
*.sln
*.dir
x64
.vs
*.vcxproj.user

#vscode ignores
.vscode

# build ignores
**/Release
*/Win32
*/x86

#glfw - glfw generates a header based on the system os we are using, so we dont want to have this header tracked to not cause issues with other os's
**/glfw_config.h

#jetbrain idea
.idea